<!-- views/index.ejs -->
<!DOCTYPE html>

<html>
	<head> Test file </head>

	<body>
		<form action="/auth/instagram">
			<input type="submit" value="Connect with Instagram"/>
		</form>
	</body>
</html>