<!-- views/index.ejs -->
<!DOCTYPE html>

<html>
	<head> Test file </head>

	<body>
		<form action="/auth/twitter">
			<input type="submit" value="Connect with Twitter"/>
		</form>
		<form action="/auth/facebook">
			<input type="submit" value="Connect with Facebook"/>
		</form>
		<form action="/auth/instagram">
			<input type="submit" value="Connect with Instagram"/>
		</form>

	</body>
</html>