<!-- views/index.ejs -->
<!DOCTYPE html>

<html>
	<head> 
	Test file 
	<link href="../views/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../views/assets/css/docs.min.css" rel="stylesheet">
	</head>

	<% for (var i = 0; i < returnObj.stream.length; i++) { %>
		<%- returnObj.stream[i].html %>
	<% } %>

	<body>
		<p> Hello </p>
		
	</body>
</html>