<!-- views/index.ejs -->
<!DOCTYPE html>

<html>
	<head> 
	Test file 

	</head>

	<% for (var i = 0; i < returnObj.stream.length; i++) { %>
		<%- returnObj.stream[i].html %>
	<% } %>

	<body>
		<p> Hello </p>
		
	</body>
</html>